@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');


.seasonharvest{
    text-align: left;
    padding:10px;
    background-color: #F0F0F0;
    font-family: Inter;
}

.seasonharvest .title h1{
    font-size: 18px;
    letter-spacing: 0.03em;
    font-weight: 600;
    color:#819347;
    text-align: left;
}

.harvestcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.harvestcontainer .harvestcard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
}
.harvestcontainer .harvestcard .image{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding:10px;
    color:#819347;

}

.harvestcontainer .harvestcard .cropname{
    padding:10px;
    color:#819347;



}

.harvestcontainer .harvestcard .cropname h1{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;

}
.harvestcontainer .harvestcard .cropname h2{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}


.harvestcontainer .harvestcard a{
    text-decoration: none;
    background-color: #819347;
    color:white;
    padding:10px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;



}



